
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/event_reg_styles.css">
    <title>Spirit 2022 | event</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
  </style>

  <body>
    <%- include('../navbar') -%>


    <div class="bigContainer">
      <div class="cont">
        <div class="cont1">
           
          <h4 id="name-div" data-test=<%=name%>><%=name%></h4>
          <p>
            Got questions? Got feedback? Got suggestions? Drop us a line below
            and we promise to get back to you!
          </p>
          <h4>03 oct</h4>
          <div class="eve_img" id="eve_img">
          <img src="/images/randomimg.jpg" alt="" style=" max-height: 575px; max-width: 400px;
          width: 100%;
height: 95% "  > 
            
             
          
          </div>
          <!-- <div class="aboutUs">
            <span class="icon">
              <div class="c1">
                <i class="fa-solid fa-envelope fa"></i>
              </div> -->

              <!-- <div class="c2">
                <h6 class="c2_child">
                  <a href="/Mail"> Mail </a>
                </h6>
                <h2 class="c2_child">Contact Us</h2>
              </div>
            </span>
            <span class="icon">
              <div class="c1">
                <i class="fa-solid fa-phone"></i>
              </div> -->

              <!-- <div class="c2">
                <h6 class="c2_child">
                  <a href="/Callpage"> Phone </a>
                </h6>
                <h2 class="c2_child">Call Us</h2>
              </div>
            </span>
            <span class="icon">
              <div class="c1">
                <i class="fa-solid fa-location-arrow"></i>
              </div> -->

              <!-- <div class="c2">
                <h6 class="c2_child">
                  <a href="/LocateUs"> Locate Us </a>
                </h6>
                <h2 class="c2_child">Locate Us</h2>
              </div> -->
            <!-- </span>
          </div> -->
        </div>
        
        <div class="cont2">
            <form id="event-form" method="POST" >

          <div class="cardd">
            <h6>Full Name</h6>
             
            <input required type="text" name="email" style="font-size: 15px;font-weight: 400;" id="name"
                     value=<%=user.username%> class="TextBox">
            
          </div>
          <div class="cardd">
            <h6>School/College</h6>
            <input required type="text" name="email" style="font-size: 15px;font-weight: 400;" id="college"
                     value=<%=user.collegename%> class="TextBox">
             
          </div>
          <div class="cardd">
            <h6>Email Address</h6>
            <input required type="email" name="email" style="font-size: 15px;font-weight: 400;" id="mail"
                     value=<%=user.email%> class="TextBox">
             
          </div>
          <div class="cardd">
            <h6>Contact Number</h6>
                     <input required type="text" name="password" style="font-size: 15px;font-weight: 400;" id="phone"
                     value=<%=user.phno%> class="TextBox" >
             
          </div>
          <div class="cardd">
            <h6>Team Leader Name</h6>
             
            <input required type="text" name="email" style="font-size: 15px;font-weight: 400;" id="leader"
                     value="" class="TextBox">
            
          </div>
          <div class="cardd">
            <h6>Team Count</h6>
                     <input required type="number" name="password" style="font-size: 15px;font-weight: 400;" id="cnt"
                     value="" class="TextBox">
             
          </div>

          <input type="checkbox" id="accom" name="accom" value="accom">
            <label for="accom">Do you want accomodation?</label><br>
          <div class="cardd">

            <h6>Campus Ambassador ID(optional)</h6>
                     <input type="text" name="password" style="font-size: 15px;font-weight: 400;" id="cmpid"
                     value="" class="TextBox">
             
          </div>
           <div style="padding-left:20%">
            <input type="submit" class="formSubmit" value="Register"/>
           </div>
          

           <!-- <button type="button" id="button1">Login</button>
           <button type="button" id="button2">Login with google</button>
           <br>
            
           <button type="button" id="button2"> Login with outlook</button> -->
            </form>  
        </div>
        
        </div>
      </div>
    </div>

    <%- include('../footer') -%>

    <script>

        
        // var event_name= document.getElementById('name-div').dataset.name;
        event_name="<%=name%>";
        var form = document.getElementById('event-form')
                form.addEventListener('submit', registerForm)
                async function registerForm(event) {
                    event.preventDefault()
                    let id = '<%=user._id%>'					
                    var full_name = document.getElementById('name').value
                    var email_address = document.getElementById('mail').value
                    var college = document.getElementById('college').value
                    var contact_number = document.getElementById('phone').value
                    var team_leader = document.getElementById('leader').value
                    var team_cnt = document.getElementById('cnt').value
				            if(document.getElementById('accom').checked)
                    {var accom = true;}
                    else{ var accom = false; }
                    var amb_id = document.getElementById('cmpid').value
                    console.log(full_name);
                    console.log(email_address);
                    console.log(college);
                    console.log(contact_number);
                    console.log(team_cnt);
                    console.log(team_leader);
                    console.log(accom);
                    console.log(amb_id);
                    var result = await fetch(`/events/event_registration/post/${event_name}/${id}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            full_name,event_name,email_address,college,contact_number,amb_id,team_leader,team_cnt,accom
                        })
                    }).then((res) => res.json())
    
                    if (result.status === 'ok') {
                      window.location.replace(`/events/event_registration/success`);
                        alert('Success')
                    } else {
				              window.location.replace(`/`);
                        alert(result.error)
                    }
            }
      </script>
  </body>
  
</html>
