<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirit 2022 | Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

</head>

<body>
    <%- include('../navbar') -%>
        <link rel="stylesheet" type="text/css" href="css/dashboard1.css" />
        <div style="padding-left: 8%;padding-right: 8%;">
            <div class="screenclass row py-5">
                <div class="col-sm-12 col-md-12 col-lg-6 hello">
                    <div class="cont2">
                        <div style="justify-content: center; font-size: 9rem;">
                            

                                
                                <i class="fa fa-user fa-8x" aria-hidden="true" style="position: relative; top:15px;"></i>
                                

                                
                            <img class="mx-2" src="images/dash-pattern.svg" style="width: 53%; height: 30%;" alt="">
                        </div>
                        <h2>Hello <%=user.username%>!</h2>
                        <%if(user.isCampusAmb){ %>
                            <p style="width: 75%;">Your Campus Ambassador id is <%= user.campusAmbId %> </p>  
                        <% } %>
                        <p>
                            It's good to see you again.
                        </p>
                        <div class="cardd">
                            <h6>Username</h6>
                            <input type="username" name="username" style="font-size: 15px;font-weight: 400;" id="mail"
                                placeholder="  <%=user.username%>" class="TextBox">
                            <!-- <input
                            type="email"
                            placeholder="Enter Your Email"
                            name="emailId"
                            class="TextBox"
                          /> -->
                        </div>
                        <div class="cardd">
                            <h6>Email</h6>
                            <input type="email" name="email" style="font-size: 15px;font-weight: 400;" id="mail"
                                placeholder="  <%=user.email%>" class="TextBox">
                            <!-- <input
                          type="email"
                          placeholder="Enter Your Email"
                          name="emailId"
                          class="TextBox"
                        /> -->
                        </div>
                        <div class="cardd">
                            <h6>College</h6>
                            <input type="text" name="college" style="font-size: 15px;font-weight: 400;" id="password"
                                placeholder="  <%=user.collegename%>" class="TextBox">
                            <!-- <input
                          type="password"
                          placeholder="Enter Your Password"
                          name="emailId"
                          class="TextBox"
                        /> -->
                        </div>
                        <div class="bttns edit_button_register">
                            <div class="button">
                                <a style="text-decoration: none; color: #FFFFFF; cursor: pointer;"
                                    href="profile/update/<%=user._id%>">
                                    <button type="button" id="button1">
                                        Edit
                                    </button>
                                </a>
                            </div>
                        </div>

                        <div class="bttns edit_button_register">
                            <div class="button">
                                <a style="text-decoration: none; color: #FFFFFF; cursor: pointer;" href="logout">
                                    <button type="button" id="button1">
                                        Logout
                                    </button>
                                </a>

                            </div>
                        </div>
                        <!-- <button type="button" id="button1">Login</button>
                       <button type="button" id="button2">Login with google</button>
                       <br>
            
                       <button type="button" id="button2"> Login with outlook</button> -->

                       <div class="payment" style="margin-top: 40px;">
                        <h2>Please find the payment details below!</h2>
                        <p>Account Holder Name:
                            <strong>Pratik Agarwal</strong>
                            
                            Account No: <strong>756101000144</strong>
                            
                            IFSC Code: <strong>ICIC0007561</strong></p>

                            <img src="images/qr.jpeg" alt="" style="width: 100%;"/>
                       </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <p class="registered_event ">Registered Events</p>
                    <div class="myclass1">

                        <div class="reg_events">
                            <% var isIpladded=false; var isShutterbugadded=false; if(user.storerandompassword){
                                isIpladded=true;%>
                                <!-- <img class="event_img" src="images/event_pics/Ipl.png"> -->
                                <div class="card my-4 reg-cards">
                                    <div class="px-4 py-4">
                                        <img src="images/event_pics/Ipl.png" />
                                    </div>
                                    <div class="card-body container">
                                        <h5 class="row card-title mb-2">
                                            <div class="col-sm-8 col-lg-9">Event Name</div>
                                            <div class="col-sm-4 col-lg-3">Date</div>
                                        </h5>
                                        <p class="card-text col-sm-6">
                                            Discuss team tasks for the day.
                                            Discuss team tasks for the day.Discuss team tasks for the day.Discuss team
                                            tasks for the
                                            day.
                                        </p>
                                    </div>
                                </div>

                                <% } %>
                                    <!-- Dont include else if part here else only iplauction event will show -->
                                    <%if(user.events_registered.length> 0){
                                        var img_src = '';
                                        var img_name = '';
                                        for (var i=0; i<user.events_registered.length; i++){
                                            switch(user.events_registered[i]){
                                            case 'Basketball-m' : {
                                            img_src='images/event_pics/Basketball.png' ; img_name='Basketball-m' ;isShutterbugadded=true; break; }
                                            case 'Athletics-m' : {
                                                img_src='images/event_pics/Athletics.png' ; img_name='Athletics-m' ;isShutterbugadded=true; break; }
                                            case 'Badminton-m' : {
                                                img_src='images/event_pics/Badminton.png' ; img_name='Badminton-m' ; break; }
                                            case 'Cricket' : {
                                                img_src='images/event_pics/Cricket.png' ; img_name='Cricket' ;break; }
                                            case 'Football' : {
                                                img_src='images/event_pics/Football.png' ;img_name='Football' ; break; }
                                            case 'Hockey' : {
                                            img_src='images/event_pics/Hockey.png' ; img_name='Hockey' ; break; }
                                            case 'Weightlifting' : {
                                                 img_src='images/event_pics/Weightlifting.png' ;
                                            img_name='Weightlifting' ; break; }
                                             case 'Chess' : {
                                            img_src='images/event_pics/Chess.png' ; img_name='Chess' ; break; }
                                            case 'Yoga-m' : {
                                                img_src='images/event_pics/Yoga.png' ; img_name='Yoga-m' ; break; }
                                            case 'Yoga-w' : {
                                                img_src='images/event_pics/Yoga.png' ; img_name='Yoga-w' ; break; }
                                            case 'Kho-Kho' : {
                                                img_src='images/event_pics/Kho-Kho.png' ; img_name='Kho-Kho' ; break; }
                                            case 'Aquatics-m' : {
                                                img_src='images/event_pics/Aquatics.png' ; img_name='Aquatics-m' ; break; }
                                            case 'Aquatics-w' : {
                                                img_src='images/event_pics/Aquatics.png' ; img_name='Aquatics-w' ; break; }
                                            case 'Athletics-w' : {
                                                img_src='images/event_pics/Athletics.png' ; img_name='Athletics-w' ; break; }
                                            case 'Volleyball-w' : {
                                                img_src='images/event_pics/Volleyball.png' ; img_name='Volleyball-w' ; break; }
                                            case 'Volleyball-m' : {
                                                img_src='images/event_pics/Volleyball.png' ; img_name='Volleyball-m' ; break; }
                                            case 'Basketball-w' : {
                                                img_src='images/event_pics/Basketball.png' ; img_name='Basketball-w' ; break; }
                                            case 'TT-m' : {
                                                img_src='images/event_pics/TT.png' ; img_name='TT-m' ; break; }
                                            case 'TT-w' : {
                                                img_src='images/event_pics/TT.png' ; img_name='TT-w' ; break; }
                                            case 'Tennis-m' : {
                                                img_src='images/event_pics/Tennis.png' ; img_name='Tennis-m' ; break; }
                                            case 'Tennis-w' : {
                                                img_src='images/event_pics/Tennis.png' ; img_name='Tennis-w' ; break; }
                                            case 'Badminton-w' : {
                                                img_src='images/event_pics/Badminton.png' ; img_name='Badminton-w' ; break; }

                                             case 'Ipl Auction'
                                            : if(isIpladded==false){ img_src='images/event_pics/Ipl.png' ; img_name='IPL Auction' }
                                            break; } if(img_src !='' ){ %>
                                            <!-- <a href="/events" class="event_img">
                                        <img width="100%" src=<%= img_src %> alt="event_poster">
                                    </a> -->

                                            <div class="card my-4 reg-cards">
                                                <div class="px-4 py-4">
                                                    <img src=<%=img_src %> />
                                                </div>
                                                <div class="card-body container">
                                                    <h5 class="row card-title mb-2">
                                                        <div class="col-sm-8 col-lg-9">
                                                            <%= img_name %>
                                                        </div>
                                                        <!-- <div class="col-sm-4 col-lg-3">Date</div> -->
                                                    </h5>
                                                    <p class="card-text col-sm-6">
                                                        You have successfully registered for this event!
                                                    </p>
                                                </div>
                                            </div>

                                            <%}else{%>
                                                <div class="data_text event">
                                                    <%=user.events_registered[i].replace("Ipl", "IPL" ) %>
                                                </div>
                                                <%}%>

                                                    <!-- <div class="data_text event">
                            <%=user.events_registered[i].replace("Ipl", "IPL") %> 	
                        </div> -->
                                                    <%}}else if(isIpladded==false){%>
                                                        <div class="data_text event">You have not registered for any
                                                            events.</div>
                                                        <%}%>

                        </div>

                        <!-- <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/event_pics/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div> -->

                        <!-- <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/event_pics/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/event_pics/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/event_pics/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/event_pics/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4 reg-cards">
                        <div class="px-4 py-4">
                            <img src="images/event_pics/image 13.png" />
                        </div>
                        <div class="card-body container">
                            <h5 class="row card-title mb-2">
                                <div class="col-sm-8 col-lg-9">Event Name</div>
                                <div class="col-sm-4 col-lg-3">Date</div>
                            </h5>
                            <p class="card-text col-sm-6">
                                Discuss team tasks for the day.
                                Discuss team tasks for the day.Discuss team tasks for the day.Discuss team tasks for the
                                day.
                            </p>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <%- include('../footer') -%>

</body>

</html>